Actuals/*

Flows/stepsState/*
Flows/*-resources.json

Folders/106/*

Folders/288230376152067659/plans/*
Folders/288230376152067659/PlanSource/*
Folders/288230376152067659/SecurityBackups/*
Folders/288230376152067659/gossJobs.json

Backups/*

custom_assets/*

Database/*

demons/*

Migrations/*

RecycleBin/*

CoretexData/Flows/*resources.json

Resources/*

Scripts/*

Settings/*

temp/*

Upgrade/*

upload/*

nwid
nwid.bak
version.properties

